[submodule "ansible/k3s-ansible"]
	path = ansible/k3s-ansible
	url = git@github.com:k3s-io/k3s-ansible.git
[submodule "beam-applications-java"]
	path = beam-applications-java
	url = https://github.com/DPS-Stream-Processing-Applications/beam-applications-java
	branch = riotbenchsinglejob
